{% extends 'projects/team_tasks.html' %}
{% block task_list %}
<div class="card-body" id="todo_tab">
    <div class="row">
        {% for task in teamTasks %}
        {% if task.task_status == 'TD' %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> <a href={% url 'task_detail' task %}><span
                                class="name">{{task.task_name}}</span></a></h5>

                    <p class="card-text">{{task.description}}</p>
                    <a href="#" class="btn btn-primary">Mark Completed</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}