{% extends 'index.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'CSS/project.css' %}">
{% endblock %}

{% block content %}
    <div class="project-section">
        <span>hello, {{request.user}}</span>
        <div class="section-title">
            <h1>Projects</h1>
        </div>
    
        <div class="project-tasks">
            <div class="to_do task">
                <div class="top">
                    <h2>To-Do</h2>

                    <button class="btn"><a href={% url 'create-task' %}>Add Task</a></button>
                </div>
                <span>Total:{{no_todo}}</span>

                <!-- replace with real data from database -->
                <form action="" method=POST>
                    {% csrf_token %}
                    {% for task in todoTasks %}
                    <div class="information">
                        <div class="topic-head">
                            <a href={% url 'task_detail' task.task_name%}><span class="name">{{task.task_name}}</span></a>
                            <div>
                                <label for="mark"></label>
                                <input type="checkbox" name="mark"  class="checkbox" id="checkbox" value= {{task.id}} name="boxes">
                            </div>
                        </div>

                         <div class="content-taks">
                            <p>{{task.description}}</p>
                        </div> 
                        <div class="task-footer">
                            <!-- YOu should think about this feature -->
                            <div class="person-contrib" id="contrib">
                            </div>

                            <div class="edit-delete">
                                <a href="">Edit</a>
                                <a href="">Delete</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <button class="btn" value="submit" >Start Task</button>
                </form>

            </div>
            <div class="in_progress task">
                <h2>In-Progress</h2>
                <span>Total:{{no_inprogress}}</span>

                {% for task in inprogress %}
                <div class="information">
                    <div class="topic-head">
                        <span class="name">{{task.task_name}}</span>
                        <div>
                            <label for="completed">completed</label>
                            <input type="checkbox" name="completed">
                        </div>
                    </div>

                    <div class="content-taks">
                        <p>{{task.description}}</p>
                    </div>

                    <div class="task-footer">
                        <div class="person-contrib">
                            {{task.host.username}}
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>
            <div class="completed task">
                <h2>Completed</h2>
                <span>Total:{{no_completed}}</span>

                {% for task in completed %}
                <div class="information">
                    <div class="topic-head">
                        <span class="name">{{task.task_name}}</span>
                    </div>

                    <div class="content-taks">
                        <p>{{task.description}}</p>
                    </div>

                    <div class="task-footer">
                        <div class="person-contrib">
                            {{task.host.username}}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extraScript %}
<script>
    
function get_contrib(task){
    console.log("hello")
    console.log(task)
}
</script>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
<script src="{% static 'js/mark_task.js' %}"></script>
{% endblock %}