{% extends 'nav_template.html' %}
{% load static %}

{% block extra_head %}
<!-- <link rel="stylesheet" href="{% static 'CSS/project.css' %}"> -->
<style>
    .card-shadow {
        box-shadow:
            0 100px 80px rgba(0, 0, 0, 0.12);
        border: none;
    }
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .sidebar-container {
        padding: 10px;
        width: 15%;

    }
    .py-5 {
        width: 85%;
    }
</style>
{% endblock %}

{% block belowNav %}
<div class="wrapper">
    <div class="sidebar-container ">
        <div class="sidebar-top">
            <h4>Browse Projects</h4>
            <a href={% url 'create-pp' %} class="btn btn-outline-primary">+Create Projects</a>

            <input type="text">
        </div>
        <div class="sidebar-body">
            {% for project in personalProjects %}
            <li>
            <a href= {% url 'view-pp' project.id%}>{{project.project_name}}</a>
                
            </li>
            {% endfor %}
        </div>

        {{task_list}}
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row hidden-md-up">
                <div class="col-md-4">
                    <div class="card-header text-center text-white bg-primary mb-3">
                        To Do
                        <span style="float: right;">+{{count_todos}}</span>
                    </div>
                    <div class="card-body bg-light mb-3 border">
                        
                        {% for task in to_dos %}
                        <div class="card  bg-white mb-3 card-shadow">
                            <div class="card-body ">
                                <a href="">
                                    <h6 class="card-title">{{task.task_name}}</h6>
                                </a>
                                <p class="card-text small">{{task.description}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% if project_name %}
                        <a href={% url 'create-pt' project_name.id %} class="btn btn-outline-primary">+Add Task</a>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="card-header text-center text-white  bg-secondary mb-3">
                        Pending
                        <span style="float: right;">+{{count_pending}}</span>
                    </div>
                    <div class="card-body bg-light mb-3 border">
                        {% for task in pending %}
                        <div class="card  bg-white mb-3 card-shadow">
                            <div class="card-body ">
                                <a href="">
                                    <h6 class="card-title">{{task.task_name}}</h6>
                                </a>
                                <p class="card-text small">{{task.description}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-header text-center text-white bg-success mb-3">
                        Completed
                        <span style="float: right;">+{{count_completed}}</span>
                    </div>
                    <div class="card-body bg-light mb-3 border">
                        {% for task in completed %}
                        <div class="card  bg-white mb-3 card-shadow">
                            <div class="card-body ">
                                <a href="">
                                    <h6 class="card-title">{{task.task_name}}</h6>
                                </a>
                                <p class="card-text small">{{task.description}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div><br>
        </div>
    </div>
</div>
{% endblock %}
{% block extraScript %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</script>
<script src="{% static 'js/mark_task.js' %}"></script>
{% endblock %}