{% extends 'nav_template.html' %}
{% load static %}

{% block extra_head %}
<!-- <link rel="stylesheet" href="{% static 'CSS/project.css' %}"> -->
<style>
    .card-shadow {
        box-shadow:
            0 100px 80px rgba(0, 0, 0, 0.12);
        border: none;
    }

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .sidebar-container {
        padding: 20px;
        width: 25%;
        margin-top: 30px;

    }

    .py-5 {
        width: 75%;
    }

    .project-link {
        display: flex;
        margin-top: 5px;
    }
</style>
<script src="https://kit.fontawesome.com/e9e17d19f6.js" crossorigin="anonymous"></script>
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
{% endblock %}

{% block belowNav %}
<div class="wrapper">

    <!-- Start of Sidebar -->

    <div class="sidebar-container ">
        <div class="sidebar-top">
            <form action={% url 'create-pp' %} method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" id="id_project_name" maxlength="20" name="project_name" required=""
                            placeholder="Add project...." class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <a href="#create_project" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#create_project">+ADD</a>

                        <div class="modal fade" id="create_project" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Add Description:
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea cols="40" id="id_project_description" maxlength="100"
                                            name="project_description" required="" rows="10">
</textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" value="Submit" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <h4>Browse Projects</h4>
        </div>
        
        <!-- Start browsing projects -->
        <div class="list-group list-group-flush">

            {% for project in personalProjects %}
            <div class="project-link">
                <a href={% url 'view-pp' project.id %}
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center ">
                    {{project.project_name}}
                </a>
                <a href="#deleteProject{{project.id}}" data-toggle="modal" data-target="#deleteProject{{project.id}}"><i class="fa-solid fa-trash"></i>
                    </a>


                <!-- Delete button Modal -->
                <div class="modal fade" id="deleteProject{{project.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">

                        <form action={% url 'delete-pp' project.id %} method="POST">
                            {% csrf_token %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    Confirm
                                </div>
                                <div class="modal-body">
                                        <p>Are you sure want to delete "{{project.project_name}}"?</p>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-warning" value="Delete">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- End of browsing projects list -->
    </div>
    <!-- End of sidebar -->

    <!-- Start of main section -->
    <div class="py-5">
        <div class="container">
            <div class="row hidden-md-up">

                <!-- Start of Todo column -->
                <div class="col-md-4">
                    <div class="card-header text-center text-white bg-primary mb-3">
                        To Do
                        <span style="float: right;">+{{count_todos}}</span>
                    </div>
                    <div class="card-body bg-light mb-3 border">

                        {% for task in to_dos %}
                        <div class="card  bg-white mb-3 card-shadow">
                            <div class="card-body ">

                                <a href="#ModalCenter{{task.id}}" class="card-title" data-toggle="modal"
                                    data-target="#ModalCenter{{task.id}}">{{task.task_name}}</a>

                                <!-- <a href="" style="float: right;"><i class="fa-solid fa-trash"></i></a> -->

                                <div class="modal fade" id="ModalCenter{{task.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">
                                                    {{task.task_name}}
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Description: {{task.description}}</p>
                                                <p>Status: ToDo </p>

                                                <p>Deadline: {{task.deadline_date}}</p>
                                            </div>
                                            <div class="modal-footer">

                                                <a href={% url 'update-personalTask' task.id %}
                                                    class="btn btn-primary">Edit</a>

                                                    <form action={% url 'delete-pt' task.id %} method="post">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Delete" class="btn btn-secondary">
                                                    </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Start of Add Task Modal (show only if atleast one project exists) -->
                    {% if project_name %}
                    <a href="#createTask{{task.id}}" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#createTask{{task.id}}">
                        +Ad Task
                    </a>
                    <div class="modal fade" id="createTask{{task.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            {{task.task_name}}
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="id_task_name">Task name:</label>
                                            <input class="form-control" id="id_task_name" maxlength="50"
                                                name="task_name" required="" type="text" />
                                        </div>
                                        <div class="form-group">
                                            <label for="id_description">Description:</label>
                                            <textarea cols="40" id="id_description" name="description" required=""
                                                rows="10">
                                </textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_deadline_date">Deadline date:</label>
                                            <input class="form-control" id="id_deadline_date" name="deadline_date"
                                                required="" type="text" />
                                        </div>
                                        <div class="form-group">
                                            <label for="id_task_status">Task status:</label>
                                            <select id="id_task_status" name="task_status">
                                                <option selected="" value="TD">Todo Task</option>
                                                <option value="C">Completed Task</option>
                                                <option value="P">Inprogress Task</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input class="btn btn-primary" type="submit" value="submit" />

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- End of Add Tsk Modal -->
                </div>
                <!-- End of Todo Column -->

                <!-- Start of Pending Column -->
                <div class="col-md-4">
                    <div class="card-header text-center text-white  bg-secondary mb-3">
                        Pending
                        <span style="float: right;">+{{count_pending}}</span>
                    </div>
                    <div class="card-body bg-light mb-3 border">
                        {% for task in pending %}
                        <div class="card  bg-white mb-3 card-shadow">
                            <div class="card-body ">
                                <a href="#ModalCenter{{task.id}}" class="card-title" data-toggle="modal"
                                    data-target="#ModalCenter{{task.id}}">{{task.task_name}}</a>

                                <div class="modal fade" id="ModalCenter{{task.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">
                                                    {{task.task_name}}
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Description: {{task.description}}</p>
                                                <p>Status: ToDo </p>

                                                <p>Deadline: {{task.deadline_date}}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href={% url 'update-personalTask' task.id %}
                                                    class="btn btn-primary">Edit</a>
                                                <a href="" class="btn btn-secondary">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- End of Pending Column -->

                <!-- Start of Completed Task column -->
                <div class="col-md-4">
                    <div class="card-header text-center text-white bg-success mb-3">
                        Completed
                        <span style="float: right;">+{{count_completed}}</span>
                    </div>
                    <div class="card-body bg-light mb-3 border">
                        {% for task in completed %}
                        <div class="card  bg-white mb-3 card-shadow">
                            <div class="card-body ">
                                <a href="#ModalCenter{{task.id}}" class="card-title" data-toggle="modal"
                                    data-target="#ModalCenter{{task.id}}">{{task.task_name}}</a>

                                <div class="modal fade" id="ModalCenter{{task.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">
                                                    {{task.task_name}}
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Description: {{task.description}}</p>
                                                <p>Status: ToDo </p>

                                                <p>Deadline: {{task.deadline_date}}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href={% url 'update-personalTask' task.id %}
                                                    class="btn btn-primary">Edit</a>
                                                <a href="" class="btn btn-secondary">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div><br>
                <!-- End of completed task column -->

            </div>
        </div>
    </div>
    <!-- End of main  section -->

    {% endblock %}
    {% block extraScript %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
    </script>
    <script src="{% static 'js/mark_task.js' %}"></script>
    {% endblock %}