{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load livereload_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" href={% static 'CSS/bootstrap.min.css' %}>

    {% block extra_head %}{% endblock %}
    <title>Task Manager</title>
    
</head>
<body>
    
    <header>
        <div class="header">
            <div class="top-sidebar">
                <a href={% url  'home' %}>#Alpha<span>Team</span></a>
            </div>

            <div class="search">
                <input type="text">
            </div>
            <div class="profile">
                <a href={% url 'my-profile' %}>#<span>{{request.user}}</span></a>
            </div>
        </div>
    </header>
    <main class="main" style="display: flex; flex-direction: row;">
        <div class="sidebar">
    
            <div class="navigation">
                <nav class="nav-bar">
    
                    <div class="nav-upper">
                        <div class="create_team nav-items">
                            <a href={% url 'home'  %}>#MY Team</a>
                        </div>
                        <div class="overview nav-items">
                            #Overview
                        </div>
                        <div class="stats nav-items">
                            #Stats
                        </div>
                        <div class="Projects nav-items">
                            <a href={% url 'projects' %}>#Projects</a>
                        </div>
                        <div class="chat nav-items">
                            #Chat
                        </div>
                        <div class="timeline nav-items">
                            #TimeLine
                        </div>
                    </div>
    
                    <div class="nav-lower">
                        <div class="settings nav-items">
                            #Setting
                        </div>
                        <div class="logout nav-items">
                            <a href={% url 'logout' %}>#Logout</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    
        <div class="main-section">
            
            {% block content %}
            {% endblock %}

        </div>

    </main>

    {% block extraScript %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}
</body>
</html>