body,
        html {
            /* height: 100%; */
            overflow-x: hidden;
        }

        body {
            width: 100%;
            /* height: 100%; */
            position: absolute;
            background: linear-gradient(to bottom, #6e529d 0%, #d97b93 100%);
        }

        .card-shadow {
            box-shadow:
                0 100px 80px rgba(0, 0, 0, 0.12);
            border: none;
        }

        .wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .py-5 {
            width: 75%;
        }

        .project-link {
            display: flex;
            margin-top: 5px;
        }

        .list-group {
            padding: 10px;
            border-radius: 5px;
        }

        ul {
            list-style: none;
        }

        li {
            margin-bottom: 10px;
        }

        .card-bg-color {
            background-color: #ebecf0 !important;
        }

        .list-items:hover {
            background-color: #ebecf0 !important;
        }


        .card-list {
            padding: 8px;
            background-color: #fff;
            width: 100%;
            margin-bottom: 7px;
            border-radius: 5px;
        }