.project-section {
    padding: 20px;
}
.project-tasks {
    display: flex;
    justify-content: space-between;
}
.project-tasks .task {
    border: 1px salmon solid;
    width: 30%;
    padding: 10px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
}
.btn {
    border: none;
    height: 25px;
    margin-top: 25px;
    font-size: 1.2rem;
    
}
.information {
    margin: 10px;
    border: 1px skyblue solid;
    border-radius: 10px;
    padding: 10px;
}
.topic-head, .task-footer {
    display: flex;
    justify-content: space-between;
}