.form {
    width: 30%;
    border: 1px solid sandybrown;
    margin: 0 auto;
    position: relative;
    padding: 20px;
}

.form_input {
    margin: 15px;
    font-size: 1.2rem;
}

input {
    width: 100%;
    padding: 5px;
}
.submit-btn {
    margin-left: 10px;
}